<div class="page-section-bg">

    <div class="container">

        <h2 class="section-title align-center">Company Statistics</h2>

        <div class="row counter-wrap">

            <div class="col-lg-3 col-md-6 col-xs-6">

                <div class="counter">
                    <span class="licon-medal-empty"></span>
                    <div class="counter-inner">
                        <h3 class="timer count-number" data-to="2" data-speed="1500">0</h3>
                        <p>years of successful service</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">

                <div class="counter">
                    <span class="licon-smile"></span>
                    <div class="counter-inner">
                        <h3 class="timer count-number" data-to="27" data-speed="1500">0</h3>
                        <p>satisfied clients</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">

                <div class="counter">
                    <span class="licon-earth"></span>
                    <div class="counter-inner">
                        <h3 class="timer count-number" data-to="{{dealers_count}}" data-speed="1500">0</h3>
                        <p>car dealers</p>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-6 col-xs-6">

                <div class="counter">
                    <span class="licon-car2"></span>
                    <div class="counter-inner">
                        <h3 class="timer count-number" data-to="{{car_count}}" data-speed="1500">0</h3>
                        <p>vehicles for sale</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>
