{% load static %}


<div class="page-section parallax-section" data-bg="{% static 'images/compare_bg.svg' %}">

    <div class="container">

        <div class="row">
            <div class="col-sm-4">

                <h3 class="section-title">Compare Cars</h3>
                <p class="text-size-medium">Which cars interest you? We'll highlight the differences to help you choose.
                    View popular car comparisons or customize your own.</p>
                <a href="{% url 'cars:compare' %}" class="btn btn-style-3">Compare Cars</a>

            </div>
            <div class="col-sm-8">
                <img src="{% static 'images/default/cars-vs.png' %}" alt="compare car image">
            </div>
        </div>

    </div>

</div>