{% load static i18n %}

{% url 'home' as home_url %}
{% url 'account_login' as login_url %}
{% url 'signup_select' as select_url %}
{% url 'account_signup' as buyer_url %}
{% url 'seller_signup' as seller_url %}

<footer id="footer" class="footer-2">

    <!-- pre footer -->
    <div class="pre-footer">

        <div class="container">

            <div class="icons-box">

                <div class="row flex-row">

                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                        <div class="icons-wrap">

                            <div class="icons-item type-3">
                                <div class="item-box"> <i class="licon-map-marker"></i>
                                    <p>
                                        2532A Cheshaire Drive<br> Baltimore, MD 21244
                                    </p>
                                    <a href="{% url 'contact' %}"
                                        class="info-btn">Get Directions</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                        <div class="icons-wrap">

                            <div class="icons-item type-3">
                                <div class="item-box"> <i class="licon-smartphone"></i>
                                    <span>Sales:</span> <a href="tel://+13257011819">+1325-701-18-19</a> <br>
                                    <a href="mailto://hello@autobuyfast.com" class="link-text">hello@autobuyfast.com</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                        <div class="icons-wrap">

                            <div class="icons-item type-3">
                                <div class="item-box"> <i class="licon-clock3"></i>
                                    <span>Sales:</span><br>
                                    <p>Mon - Fri: 9:00 AM - 6:00 PM <br> Sunday is closed</p>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6">

                        <!-- - - - - - - - - - - - - - Icon Box Item - - - - - - - - - - - - - - - - -->
                        <div class="icons-wrap">

                            <div class="icons-item type-3">
                                <div class="item-box">
                                    <span>Service:</span> <br>
                                    <p>Sat: 9:00 AM - 4:00 PM <br> Sunday is closed</p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>
    <!-- end pre footer -->

    <!-- Top footer -->
    <div class="top-footer">

        <div class="container">

            <div class="row">

                <div class="col-md-3 col-sm-6">

                    <div class="widget">

                        <a href="{{home_url}}" class="logo"><img src="{% static 'images/footer-logo.png' %}" alt="autobuyfast footer logo"></a>

                        <ul class="social-icons">

                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                            <li><a href="#"><i class="icon-gplus-3"></i></a></li>
                            <li><a href="#"><i class="icon-instagram-5"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin-3"></i></a></li>

                        </ul>

                        <p class="copyright">Copyright Autobuyfast © 2021. <br> All Rights Reserved.</p>
                        <br>
                        
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="widget">
                        <h5 class="widget-title">Company</h5>
                        <p>
                            Autobuyfast is a global 100% online car solution website that
                            brings together listings from all the major car dealerships in the USA featuring new and
                            used vehicles. We make it easy for Members to find, connect with dealer and we can ship
                            to you anywhere in the world.
                        </p>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="widget">
                        <h5 class="widget-title">Quick Links</h5>
                        <ul class="info-links">

                            <li><a href="{% url 'about' %}">About Us</a></li>
                            <li><a href="{% url 'careers:list' %}">Careers</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>
                            <li><a href="{% url 'blogs:list' %}">News & Tips</a></li>
                            <li><a href="{% url 'blogs:rlist' %}">Reviews</a></li>
                            <li><a href="{% url 'sitemap' %}">Site Map</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>

                        </ul>
                    </div>

                </div>
                <div class="col-md-3 col-sm-6">

                    <div class="widget">
                        <h5 class="widget-title">Popular Cars By Make</h5>
                        <ul class="info-links">

                            <li ><a href="/cars/search/?title=bmw">BMW</a></li>
                            <li ><a href="/cars/search/?title=ferrari">Ferrari</a></li>
                            <li ><a href="/cars/search/?title=benz">Mercedes</a></li>
                            <li ><a href="/cars/search/?title=aston">Aston Martin</a></li>
                            <li ><a href="/cars/search/?title=toyota">Toyota</a></li>
                            <li ><a href="/cars/search/?title=rover">Land Rover</a></li>
                            <li ><a href="{% url 'cars:list' %}">All Cars</a></li>

                        </ul>
                    </div>

                </div>

            </div>

        </div>

        <!-- <a href="#" class="btn btn-big btn-style-3"><i class="licon-bubbles"></i>Chat With Us</a> -->

    </div>

</footer>
