{% load static i18n %}

<div class="top-bar">
    <div class="container">
        <div class="header-topbarbox-1">
            <form method="GET" action="{% url 'cars:search' %}" role="/search/?title=" >
                <div class="input-group" id="navBarSearch">
                    <input  style="font-family: Poppins; font-weight: 300;" autocomplete="off" type="text" name="title" placeholder="Search for cars by make & year" class="form-control search-global__input">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit"><i class="stroke icon-Search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
