{% load static compress %}

<!-- ++++++++++++-->
<!-- MAIN SCRIPTS-->
<!-- ++++++++++++-->
<script defer src="{% static 'libs/jquery.modernizr.js' %}"></script>
<script defer src="{% static 'libs/jquery-2.2.4.min.js' %}"></script>
<script defer src="{% static 'libs/jquery-ui.min.js' %}"></script>
<script defer src="{% static 'libs/retina.min.js' %}"></script>
<!-- Headers scripts-->
<script defer src="{% static 'plugins/mad.customselect.js' %}"></script>
<script defer src="{% static 'plugins/sticky-sidebar.js' %}"></script>
<script defer src="{% static 'plugins/jquery.queryloader2.min.js' %}"></script>
<script defer src="{% static 'plugins/instafeed.min.js' %}"></script>
<script defer src="{% static 'plugins/twitter/jquery.tweet.js' %}"></script>
<script defer src="{% static 'plugins/fancybox/jquery.fancybox.min.js' %}"></script>
<script defer src="{% static 'plugins/owl.carousel.min.js' %}"></script>
<script defer src="{% static 'plugins/revolution/js/extensions/revolution.extension.slideanims.min.js' %}?ver=5.0"></script>
<script defer src="{% static 'plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}?ver=5.0"></script>
<script defer src="{% static 'plugins/revolution/js/extensions/revolution.extension.navigation.min.js' %}?ver=5.0"></script>
<script defer src="{% static 'plugins/revolution/js/jquery.themepunch.tools.min.js' %}?ver=5.0"></script>
<script defer src="{% static 'plugins/revolution/js/jquery.themepunch.revolution.min.js' %}?ver=5.0"></script>
<!-- datetime scripts-->
<script defer src="{% static 'js/datepicker.js' %}"></script>
<!-- User customization-->
<script defer src="{% static 'js/plugins.js' %}"></script>
<script defer src="{% static 'js/project_2.js' %}"></script>
