{% load static compress %}

<!-- ++++++++++++-->
<!-- MAIN SCRIPTS-->
<!-- ++++++++++++-->
<script defer src="{% static 'libs/jquery-1.12.4.min.js' %}"></script>
<script defer src="{% static 'libs/jquery-migrate-1.2.1.js' %}"></script>
<!-- <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script> -->
<!-- Bootstrap-->
<script defer src="{% static 'libs/bootstrap/bootstrap.min.js' %}"></script>
<!-- User customization-->
<script defer src="{% static 'js/project.js' %}"></script>
<!-- Headers scripts-->
<script defer src="{% static 'plugins/headers/slidebar.js' %}"></script>
<script defer src="{% static 'plugins/headers/header.js' %}"></script>
<!-- Color scheme-->
<script defer src="{% static 'plugins/switcher/js/dmss.js' %}"></script>
<!-- Select customization & Color scheme-->
<script defer src="{% static 'plugins/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
<!-- Slider-->
<script defer src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
<!-- Pop-up window-->
<script defer src="{% static 'plugins/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
<!-- Mail scripts-->
<script defer src="{% static 'plugins/jqBootstrapValidation.js' %}"></script>
<script defer src="{% static 'plugins/contact_me.js' %}"></script>
<!-- Filter and sorting images-->
<script defer src="{% static 'plugins/isotope/isotope.pkgd.min.js' %}"></script>
<script defer src="{% static 'plugins/isotope/imagesLoaded.js' %}"></script>
<!-- Progress numbers-->
<script defer src="{% static 'plugins/rendro-easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script defer src="{% static 'plugins/rendro-easy-pie-chart/waypoints.min.js' %}"></script>
<!-- NoUiSlider-->
<script defer src="{% static 'plugins/noUiSlider/nouislider.min.js' %}"></script>
<script defer src="{% static 'plugins/noUiSlider/wNumb.js' %}"></script>
<!-- Animations-->
<script defer src="{% static 'plugins/scrollreveal/scrollreveal.min.js' %}"></script>
<!-- Main slider-->
<script defer src="{% static 'plugins/slider-pro/jquery.sliderPro.min.js' %}"></script>
<script defer src="{% static 'js/datepicker.js' %}"></script>
