{% load static i18n %}

<!-- <div data-off-canvas="slidebar-1 left overlay">
    <ul class="nav navbar-nav">
        <li><a class="scrollTo" href="#features-section">features</a>
        </li>
        <li><a class="scrollTo" href="#services-section">Services</a>
        </li>
        <li><a class="scrollTo" href="#works-section">Works</a>
        </li>
        <li><a class="scrollTo" href="#about-section">About</a>
        </li>
        <li><a class="scrollTo" href="#team-section">Team</a>
        </li>
        <li><a href="#">News</a>
            <div class="wrap-inside-nav">
                <div class="inside-col">
                    <ul class="inside-nav">
                        <li><a href="blog.html">Blog 1</a>
                        </li>
                        <li><a href="blog-2.html">Blog 2</a>
                        </li>
                        <li><a href="blog-single.html">Blog single</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">Portfolio</a>
            <div class="wrap-inside-nav">
                <div class="inside-col">
                    <ul class="inside-nav">
                        <li><a href="portfolio.html">Portfolio</a>
                        </li>
                        <li><a href="portfolio-single.html">Portfolio single</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li><a href="#">Contact</a>
            <div class="wrap-inside-nav">
                <div class="inside-col">
                    <ul class="inside-nav">
                        <li><a href="contact.html">Contact 1</a>
                        </li>
                        <li><a href="contact-2.html">Contact 2</a>
                        </li>
                        <li><a href="contact-3.html">Contact 3</a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div> -->
<nav class="navbar" id="nav" style="z-index: 1000 !important;">
    <div class="container">
        <div class="header-navibox-1">
            <!-- Mobile Trigger Start-->
            <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
            </button>
            <!-- Mobile Trigger End-->
            <a class="navbar-brand scroll" href="{% url 'home' %}">
                <img class="normal-logo img-responsive" src="{% static 'images/logo.png' %}" alt="logo" />
                <img class="scroll-logo hidden-xs img-responsive" src="{% static 'images/logo-dark.png' %}" alt="logo" />
            </a>
        </div>
        <div class="header-navibox-3">
            <!-- {% if request.user.is_seller %}
            <a class="btn btn-primary" style="margin-top: -1.2rem;" href="{% url 'users:detail' request.user.username %}">SELL CARS</a>              
            {% endif %} -->
            <ul class="yamm nav navbar-nav hidden-xs clearfix vcenter">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: -1.2rem;"> <span style="margin-top: -1.2rem;">{{request.user.fullname}}</span> <i class="icon fa fa-user-circle fa-2x" style="font-size: 25px; padding-top: 1rem; margin-bottom: 0.6rem;"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'users:detail' request.user.username %}" tabindex="1">DASHBOARD</a></li>
                        <li><a href="{% url 'users:watch_list' %}" tabindex="1">Saved Cars</a></li>
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        {% if request.user.is_seller %}
                        <li><a href="{% url 'users:update_seller' %}" tabindex="1">My profile</a></li>
                        <li><a href="{% url 'users:ads' %}" tabindex="1">Manage Ads</a></li>
                        {% elif not request.user.is_seller %}
                        <li><a href="{% url 'users:update_buyer' %}" tabindex="1">My profile</a></li>
                        {% endif %}
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        <li><a href="{% url 'users:update_notification' %}" tabindex="1">Alert Settings</a></li>
                        <li><a href="{% url 'account_change_password' %}" tabindex="1">Password Settings</a></li>
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        <li><a href="{% url 'account_logout' %}" tabindex="1">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}" tabindex="1">Login</a></li>
                        <li><a href="{% url 'signup_select' %}" tabindex="1">Signup</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="header-navibox-2">
            <ul class="yamm main-menu nav navbar-nav">
                <li><a href="{% url 'home' %}">How it works</a>
                </li>
                <li><a href="{% url 'cars:list' %}">Cars for sale</a>
                </li>
                <li><a href="{% url 'about' %}">Shipping</a>
                </li>
                <li><a href="{% url 'blogs:rlist' %}">Research and Reviews</a>
                </li>
                <li><a href="{% url 'blogs:list' %}">News & Tips</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end .header-->
