{% load static i18n %}

{% url 'home' as home_url %}
{% url 'cars:list' as cars_urls %}
{% url 'about' as about_url %}
{% url 'blogs:list' as news_url %}
{% url 'blogs:rlist' as reviews_url %}
{% url 'faq' as faq_url %}
{% url 'contact' as contact_url %}
{% url 'account_login' as login_url %}
{% url 'signup_select' as select_url %}
{% url 'account_signup' as buyer_url %}
{% url 'seller_signup' as seller_url %}

<!--main menu-->

<div class="menu-holder">

    <div class="container">

        <div class="menu-wrap">

            <div class="nav-item">

                <!-- - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - - -->

                <nav id="main-navigation" class="main-navigation">
                    <ul id="menu" class="clearfix">
                        <li class="{% if request.path == home_url %}current{% endif %}"><a
                                href="{% url 'home' %}">How it works</a></li>
                        <li class="dropdown has-megamenu {% if request.path == cars_url %}current{% endif %}"><a href="javascript:;">Inventory</a>
                            <!--sub menu-->
                            <div class="sub-menu-wrap mega-menu full-width-menu">
                                <div class="mega-submenu">
                                    <h5>Inventory</h5>
                                    <ul>
                                        <li><a href="{% url 'cars:list' %}">All Cars</a></li>
                                        <li><a href="">Car Parts</a></li>
                                        <li><a href="{% url 'f_dealers' %}">Featured Sellers<br>(Dealership)</a></li>
                                    </ul>
                                </div>
                                <div class="mega-submenu">
                                    <h5>By Body Style</h5>
                                    <ul>
                                        <li><a href="{% url 'cars:list' %}">All</a></li>
                                        <li><a href="/cars/search/?car_body=sedan">Sedans</a></li>
                                        <li><a href="/cars/search/?car_body=convertible">Convertibles</a></li>
                                        <li><a href="/cars/search/?car_body=coupe">Coupes</a></li>
                                        <li><a href="/cars/search/?car_body=suv">SUVs</a></li>
                                        <li><a href="/cars/search/?car_body=hatchback">Hatchbacks</a></li>
                                    </ul>
                                </div>
                                <div class="mega-submenu">
                                    <ul>
                                        <li><a href="/cars/search/?car_body=hybrid">Hybrids</a></li>
                                        <li><a href="/cars/search/?car_body=minivan">Minivan</a></li>
                                        <li><a href="/cars/search/?car_body=cargo_van">Cargo Van</a></li>
                                        <li><a href="/cars/search/?car_body=passenger_van">Passenger Van</a></li>
                                        <li><a href="/cars/search/?car_body=wagon">Wagon</a></li>
                                    </ul>
                                </div>
                                <div class="mega-submenu">
                                    <h5>By Make</h5>
                                    <ul>
                                        <li><a href="{% url 'cars:list' %}">All</a></li>
                                        <li><a href="/cars/search/?title=acura">Acura</a></li>
                                        <li><a href="/cars/search/?title=alfa">Alfa Romeo</a></li>
                                        <li><a href="/cars/search/?title=aston">Aston Martin</a></li>
                                        <li><a href="/cars/search/?title=audi">Audi</a></li>
                                        <li><a href="/cars/search/?title=bently">Bentley</a></li>
                                    </ul>
                                </div>
                                <div class="mega-submenu">
                                    <ul>
                                        <li><a href="/cars/search/?title=bmw">BMW</a></li>
                                        <li><a href="/cars/search/?title=buick">Buick</a></li>
                                        <li><a href="/cars/search/?title=cadillac">Cadillac</a></li>
                                        <li><a href="/cars/search/?title=chevrolet">Chevrolet</a></li>
                                        <li><a href="/cars/search/?title=chrysler">Chrysler</a></li>
                                        <li><a href="/cars/search/?title=dodge">Dodge</a></li>
                                    </ul>
                                </div>
                                <div class="mega-submenu">
                                    <ul>
                                        <li><a href="/cars/search/?title=ferrari">Ferrari</a></li>
                                        <li><a href="/cars/search/?title=fiat">FIAT</a></li>
                                        <li><a href="/cars/search/?title=ford">Ford</a></li>
                                        <li><a href="/cars/search/?title=genesis">Genesis</a></li>
                                        <li><a href="/cars/search/?title=gmc">GMC</a></li>
                                        <li><a href="/cars/search/?title=honda">Honda</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li class="{% if request.path == news_url %}current{% endif %}"><a
                                href="{% url 'blogs:list' %}">News & Tips</a></li>
                        <li class="{% if request.path == reviews_url %}current{% endif %}"><a
                                href="{% url 'blogs:rlist' %}">Research & Reviews</a></li>
                        <li class="{% if request.path == contact_url %}current{% endif %}"><a
                                href="{% url 'contact' %}">Contact</a></li>

                        <li class="dropdown"><a href="javascript:;">Tools</a>
                            <!--sub menu-->
                            <div class="sub-menu-wrap">
                                <ul>
                                    <li><a href="{% url 'cars:compare' %}">Car Compare</a></li>
                                    <li><a href="">Price Calculator</a></li>
                                    <li><a href="">Shipping Quote</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - - -->

            </div>

            <!-- <div class="search-holder">

                <button class="search-button"></button>

            </div> -->

        </div>

    </div>

    {% if request.user.is_authenticated %}
    <div class="shop-cart">

        <button class="sc-cart-btn dropdown-invoker"><span class="licon-cart" data-amount="7"></span></button>

        <div class="shopping-cart dropdown-window">

            <div class="products-holder">

                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                <div class="product">

                    <button class="item-close"></button>

                    <a href="#" class="product-image">

                        <img src="{% static 'images/default/80x80_product1.jpg' %}" alt="">

                    </a>

                    <div class="product-description">

                        <h6 class="product-name"><a href="#">2015 BMW M235i Coupe Staggered Tires</a></h6>

                        <span class="product-size">Size: 18x8</span>

                        <span class="product-price"><span class="amount">4</span>$150</span>

                    </div>
                    <!--/ .product-info -->

                </div>

                <!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->

                <div class="product">

                    <button class="item-close"></button>

                    <a href="#" class="product-image">

                        <img src="{% static 'images/default/80x80_product2.jpg' %}" alt="">

                    </a>

                    <div class="product-description">

                        <h6 class="product-name"><a href="#">5PC Socket Set with Nylon Sleeve</a></h6>

                        <span class="product-price"><span class="amount">1</span>$38</span>

                    </div>
                    <!--/ .product-info -->

                </div>

                <!-- - - - - - - - - - - - - - End of Product - - - - - - - - - - - - - - - - -->

            </div>
            <!--/ .products-holder -->

            <div class="sc-footer">

                <div class="subtotal">Subtotal: <span class="total-price">$488</span></div>

                <div class="vr-btns-set">

                    <a href="#" class="btn btn-style-6 btn-small">View Cart</a>
                    <a href="#" class="btn btn-style-3 btn-small">Checkout</a>

                </div>
                <!--/ .vr-btns-set -->

            </div>

        </div>
        <!--/ .shopping-cart -->

    </div>
    {% endif %}
</div>













{% comment %}
<nav class="navbar" id="nav" style="z-index: 1000 !important;">
    <div class="container">
        <div class="header-navibox-1">
            <!-- Mobile Trigger Start-->
            <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button"><i
                    class="toggle-menu-button-icon"><span></span><span></span><span></span><span></span><span></span><span></span></i>
            </button>
            <!-- Mobile Trigger End-->
            <a class="navbar-brand scroll" href="{% url 'home' %}">
                <img class="normal-logo img-responsive" src="{% static 'images/logo.png' %}" alt="logo" />
                <img class="scroll-logo hidden-xs img-responsive" src="{% static 'images/logo-dark.png' %}"
                    alt="logo" />
            </a>
        </div>
        <div class="header-navibox-3">
            <!-- {% if request.user.is_seller %}
            <a class="btn btn-primary" style="margin-top: -1.2rem;" href="{% url 'users:detail' request.user.username %}">SELL CARS</a>              
            {% endif %} -->
            <ul class="yamm nav navbar-nav hidden-xs clearfix vcenter">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="margin-top: -1.2rem;"> <span
                            style="margin-top: -1.2rem;">{{request.user.fullname}}</span> <i
                            class="icon fa fa-user-circle fa-2x"
                            style="font-size: 25px; padding-top: 1rem; margin-bottom: 0.6rem;"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'users:detail' request.user.username %}" tabindex="1">DASHBOARD</a></li>
                        <li><a href="{% url 'users:watch_list' %}" tabindex="1">Saved Cars</a></li>
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        {% if request.user.is_seller %}
                        <li><a href="{% url 'users:update_seller' %}" tabindex="1">My profile</a></li>
                        <li><a href="{% url 'users:ads' %}" tabindex="1">Manage Ads</a></li>
                        {% elif not request.user.is_seller %}
                        <li><a href="{% url 'users:update_buyer' %}" tabindex="1">My profile</a></li>
                        {% endif %}
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        <li><a href="{% url 'users:update_notification' %}" tabindex="1">Alert Settings</a></li>
                        <li><a href="{% url 'account_change_password' %}" tabindex="1">Password Settings</a></li>
                        <hr style="margin-top: 0 !important; margin-bottom: 0 !important;">
                        <li><a href="{% url 'account_logout' %}" tabindex="1">Logout</a></li>
                        {% else %}
                        <li><a href="{% url 'account_login' %}" tabindex="1">Login</a></li>
                        <li><a href="{% url 'signup_select' %}" tabindex="1">Signup</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end .header-->
{% endcomment %}

