{% load static i18n %}


<div class="main-slider main-slider-3">
    <div class="slider-pro" id="main-slider" data-slider-width="100%" data-slider-height="750px" data-slider-arrows="true" data-slider-buttons="false">
        <div class="sp-slides">
            <!-- Slide 1-->
            <div class="sp-slide">
                <img class="sp-image" src="{% static 'media/components/b-main-slider/3.jpg' %}" alt="slider" />
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="sp-layer" data-show-transition="left" data-hide-transition="left" data-show-duration="2000" data-show-delay="1200" data-hide-delay="400">
                                <div class="main-slider__title"><strong>we ship all your<br></strong>automotive desires</div><a class="main-slider__btn btn btn-lg btn-white" href="{% url 'about' %}">learn more</a><a class="main-slider__btn btn btn-lg btn-primary" href="{% url 'cars:list' %}">Showroom</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="section-advantages-1">
                <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-gearbox"></i>
                    <h3 class="b-advantages-1__title">Largest Dealership of Cars</h3>
                    <div class="b-advantages-1__info">Autobuy is one of the largest provider of car listing around the world. We offer Shipping and Car Rentals.</div><span class="ui-decor-2"></span>
                </section>
                <!-- end .b-advantages-->
                <section class="b-advantages-1 active"><i class="b-advantages-1__icon flaticon-steering-wheel"></i>
                    <h3 class="b-advantages-1__title">We Offers Lower Cars Prices</h3>
                    <div class="b-advantages-1__info">At Autobuy we ensure our listings are affordable. All we want is for you to be seated in the drivers seat, playing your favorite song and on your way in style.</div><span class="ui-decor-2"></span>
                </section>
                <!-- end .b-advantages-->
                <section class="b-advantages-1"><i class="b-advantages-1__icon flaticon-wrench"></i>
                    <h3 class="b-advantages-1__title">Multipoint Safety Checks</h3>
                    <div class="b-advantages-1__info">All our cars are checked for abnormalities and mileage. We ensure every car listed here are inspected properly, accident free, and with proper clearing documents..</div><span class="ui-decor-2"></span>
                </section>
                <!-- end .b-advantages-->
            </div>
            <!-- end .section-advantages-1-->
        </div>
    </div>
</div>

