{% extends "base.html" %}


{% block page_bg %}
{% endblock page_bg %}

{% block title %}
{% block head_title %}{% endblock %} | {{ block.super }}
{% endblock title %}

{% block description %}
{% block admin_desc %}{% endblock %}
{% endblock description %}

{% block og_author %}
{% block admin_author %}{% endblock %}
{% endblock og_author %}

{% block og_title %}
{% block admin_og_title %}{% endblock %}
{% endblock og_title %}

{% block og_url %}
{% block admin_og_url %}{% endblock %}
{% endblock og_url %}

{% block twitter_title %}
{% block admin_tw_title %}{% endblock %}
{% endblock twitter_title %}

{% block twitter_desc %}
{% block admin_tw_desc %}{% endblock %}
{% endblock twitter_desc %}

{% block can_link %}
{% block admin_can_link %}{% endblock %}
{% endblock can_link %}


{% block slider %}
{% endblock slider %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3">
      {% block inner %}{% endblock %}
    </div>
  </div>
</div>
{% endblock content %}
