{% extends "base.html" %}
{% block title %}{% block head_title %}{% endblock head_title %} - {{ block.super }}{% endblock title %}

{% block slider %}
<div class="section-title-page area-bg area-bg_dark area-bg_op_70">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="b-title-page bg-primary_a">Accounts</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .b-title-page-->
<div class="bg-grey">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}"><i class="icon fa fa-home"></i></a>
                    </li>
                    <li class="active">User Accounts</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb-->

{% endblock slider %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 offset-md-3">
      <br>
      <br>
      {% block inner %}{% endblock %}
      <br>
      <br>
    </div>
  </div>
</div>
{% endblock %}
