{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Email Account Settings" %}{% endblock %}
{% block acc_bc %}
{% trans "Email Account Settings" %}
{% endblock acc_bc %}

{% block inner %}

<!-- End Action buttons -->
<div class="col-sm-12">

  <div class="b-car-details__section">
    <h4>{% trans "E-mail Addresses" %}</h4>

    {% if user.emailaddress_set.all %}
    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
      {% csrf_token %}
      <fieldset class="blockLabels">

        {% for emailaddress in user.emailaddress_set.all %}
        <div class="radio">
          <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">

            <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked" {%endif %} value="{{emailaddress.email}}" />

            {{ emailaddress.email }}
            {% if emailaddress.verified %}
            <sup class="verified" style="font-weight:600; color: green; margin-left: 15px;">{% trans "Verified" %}</sup>
            {% else %}
            <sup class="unverified" style="font-weight:600; color: red; margin-left: 15px;">{% trans "Unverified" %}</sup>
            {% endif %}
            {% if emailaddress.primary %}<sup class="primary text-primary font-weight-bolder">{% trans "Primary"%}</sup>{% endif %}
          </label>
        </div>
        {% endfor %}

        <div class="form-group">
          <br>
          <button class="secondaryAction btn btn-primary" type="submit" name="action_primary">{% trans 'Make Primary'%}</button>
          <br>
          <br>
          <button class="secondaryAction btn btn-success" type="submit" name="action_send">{% trans 'Re-send Verification' %}</button>
          <br>
          <br>
          <button class="primaryAction btn btn-default" type="submit" name="action_remove">{% trans 'Remove' %}</button>
        </div>

      </fieldset>
    </form>

    {% else %}
    <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}


    <h4>{% trans "Add E-mail Address" %}</h4>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button class="btn btn-primary btn-block" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

  </div>
</div>

{% endblock %}


{% block inline_javascript %}
{{ block.super }}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', function () {
    const message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
    const actions = document.getElementsByName('action_remove');
    if (actions.length) {
      actions[0].addEventListener("click", function (e) {
        if (!confirm(message)) {
          e.preventDefault();
        }
      });
    }
  });

  document.addEventListener('DOMContentLoaded', function () {
    $('.form-group').removeClass('row');
  })
</script>
{% endblock %}