{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% url 'signup_select' as signup_select_url %}

{% block acc_bc %}
{% trans "Sign In" %}
{% endblock acc_bc %}

{% block inner %}
<div class="col-sm-12">

    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}
    
    {% if socialaccount_providers %}
    <h4>Please sign in with one
    of your existing third party accounts. Or, <a href="{% url 'signup_select' %}">sign up</a>
    for a {{ site.name }} account and sign in below:</h4>
    
    <div class="socialaccount_ballot">
    
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    
      <div class="login-or">{% trans 'or' %}</div>
    
    </div>
    
    {% include "socialaccount/snippets/login_extra.html" %}
    
    {% else %}
    <h4>If you have not created an account yet, then please
    <a href="{% url 'signup_select' %}" class="btn btn-small btn-style-2">sign up</a> first.</h4>
    {% endif %}
    <br>
    <br>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{form.non_field_errors}}
      {{form.source.errors}}
      {{form.source}}

      <div class="auto-custom-select" style="margin-bottom: 10px;">
      {{form.login}}
      {{form.login.errors}}
      </div>
      <div class="auto-custom-select" style="margin-bottom: 10px;">
        {{form.password}}
      {{form.password.errors}}
      </div>
      <div class="input-wrapper" style="margin-bottom: 10px;">
      {{form.remember}}
      </div>
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a style="margin-bottom:10px" class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "you Forgot Password?" %}</a>
      <br>
      <button style="margin-top: 15px;" class="primaryAction btn btn-style-3 btn-block" type="submit">{% trans "Sign In" %}</button>
    </form>
</div>
{% endblock %}
