{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
<div class="col-md-2">
    {% if request.user.username %}
    <a class="btn btn-primary btn-block" href="{% url 'users:detail' request.user.username %}" role="button">Dashboard</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_email' %}" role="button">Saved Cars</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_email' %}" role="button">Saved Search</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_email' %}" role="button">Update E-Mail</a>
    {% if request.user.is_seller %}
    <a class="btn btn-primary btn-block" href="{% url 'users:update_seller' %}" role="button">Profile</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_email' %}" role="button">Manage Ads</a>
    {% else %}
    <a class="btn btn-primary btn-block" href="{% url 'users:update_buyer' %}" role="button">Profile</a>
    {% endif %}
    <!-- Your Stuff: Custom user template urls -->
    <a class="btn btn-primary btn-block" href="{% url 'users:update_notification' %}" role="button">Alert Settings</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_change_password' %}" role="button">Password Settings</a>
    <a class="btn btn-primary btn-block" href="{% url 'account_logout' %}" role="button">Logout</a>
    {% endif %}
  </div>

  <!-- End Action buttons -->
  <div class="col-md-10">

    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>

</div>
{% endblock %}
