{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block acc_bc %}
{% trans "Change Password" %}
{% endblock acc_bc %}

{% block inner %}
<!-- End Action buttons -->
<div class="col-sm-10">
  <div class="b-car-details__section">
    <h4>{% trans "Change Password" %}</h4>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      {{form.non_field_errors}}
      {{form.source.errors}}
      {{form.source}}
      <div style="margin-bottom:10px">
        {{ form.oldpassword }}
        {{ form.oldpassword.errors }}
      </div>
      <div style="margin-bottom:10px">
        {{ form.password1 }}
        {{ form.password1.errors }}
      </div>
      <div style="margin-bottom:10px">
        {{ form.password2 }}
        {{ form.password2.errors }}
      </div>
      <button class="btn btn-style-3 btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
</div>
{% endblock %}