{% extends "base.html" %}
{% load static %}

{% block title %}{% if exception %}{{ exception }}{% else %}404 Page not found{% endif %}{% endblock %}

{% block slider %}
  
{% endblock slider %}

{% block content %}
<div class="page-404-section" data-bg="{% static 'images/default/1920x678_bg1.jpg' %}">

    <div class="container">

        <div class="inner-404">
            <h1>404</h1>
            <h2>Page not found</h2>

            <p>{% if exception %}{{ exception }}{% else %}This is not the page you were looking for.{% endif %}</p>
            <p>We're sorry, but we can't find the page you were looking for. <br> Go <a href="{% url 'home' }">Home</a></p>
        </div>
    </div>
</div>
{% endblock content %}