{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}AutobuyFast{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="telephone=no" name="format-detection" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="description" content="Autobuy fast">
  <meta name="author" content="Jeremiah David">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/logo.jpg' %}">

  {% block css %}
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">

  <link rel="preconnect" href="https://stackpath.bootstrapcdn.com/">
  <link rel="dns-prefetch" href="https://stackpath.bootstrapcdn.com/">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700|Poppins:100,200,300,400,500,600,700&display=swap">


  <link rel="preconnect" href="https://autobuyfast-bucket.s3.amazonaws.com/">
  <link rel="dns-prefetch" href="https://autobuyfast-bucket.s3.amazonaws.com/">


  <!-- Your stuff: Third-party CSS libraries go here -->
  <link href="{% static 'css/iziToast.min.css' %}" rel="stylesheet">
  {% compress css inline %}
  <!-- This file stores project-specific CSS -->
  {% include "snippets/css.html" %}
  {% endcompress %}
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  <!-- Bootstrap JS and its dependencies-->

  {# vue js 3 package for frontend ajaxing must be in the header section #}
  <!-- <script defer src="https://unpkg.com/vue@next"></script> -->

  <!-- Your stuff: Third-party javascript libraries go here -->
  {% include "snippets/js.html" %}

  <!-- place project specific Javascript in this file -->
  <script async src="{% static 'js/iziToast.min.js' %}"></script>
  {% compress js inline %}
  <script async src="{% static 'js/project.js' %}"></script>
  {% endcompress %}
  {% endblock javascript %}

  {{ form.media }}

</head>

<body>
  <!-- Loader-->
  <!-- <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span>
  </div> -->

  {% include "snippets/mobile_menu.html" %}

  <div class="l-theme animated-css" data-header="sticky" data-header-top="200" data-canvas="container">
    <!-- ==========================-->
    <!-- SEARCH MODAL-->
    <!-- ==========================-->
    <!-- <div class="header-search open-search">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="navbar-search">
              <form class="search-global" action="{% url 'cars:search' %}" method="get">
                <input class="search-global__input" type="text" placeholder="Type to search make and year" autocomplete="off" name="car_title__icontains"
                  value="" />
                <button class="search-global__btn"><i class="icon stroke icon-Search"></i>
                </button>
                <div class="search-global__note">Begin typing your search above and press return to search.</div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <button class="search-close close" type="button"><i class="fa fa-times"></i>
      </button>
    </div> -->
    
    <header class="{% if request.path == '/' %}header header-3 header-boxed-width navbar-fixed-top header-color-white header-topbar-dark header-logo-white header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right{% else %}header header-3 header-boxed-width navbar-fixed-top header-background-white header-color-black header-topbar-dark header-logo-black header-topbarbox-1-left header-topbarbox-2-right header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right{% endif %}">
      <div class="container container-boxed-width">
        {% include "snippets/header.html" %}
        {% include "snippets/nav.html" %}
      </div>
    </div>

    {% block slider %}
    {% include "snippets/slider.html" %}
    {% endblock slider %}
  
    <main class="l-main-content" style="padding: 0 0 0 0;">
    {% block content %}
    {% endblock content %}
    </main>

    {% include "snippets/footer.html" %}

  </div> <!-- /container -->

  {% block modal %}{% endblock modal %}
  {# izi message signals for django #}
  <script type=text/javascript>
    jQuery('.home-date').datepicker({
      autoclose: true,
      startDate: "today",
    });

    {% for message in messages %}
    iziToast.settings({
      timeout: 9000,
      position: 'topRight',
      drag: true,
      pauseOnHover: true,
      transitionIn: 'flipInX',
      transitionOut: 'flipOutX',
      transitionInMobile: 'fadeInUp',
      transitionOutMobile: 'fadeOutDown',
      close: true,
      balloon: true,
      progressBar: true,
      progressBarEasing: 'ease',
      pauseOnHover: true,
      icon: 'material-icons',
      iconText: '{% if message.tags == "info" %}info{% elif message.tags == "success" %}check_circle{% elif message.tags == "warning" %}warning{% else %}priority_high{% endif %}',
    });
    iziToast.{{ message.tags }}({
      id: '{{ message.tags }}',
      title: '{{ message.tags|capfirst }}',
      message: '{{ message }}',
    });
    {% endfor %}
  </script>

  {# tiny mce settings configuration #}
  
  {% block inline_javascript %}
  <!-- <script >
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
      ],
      setup: function (editor) {
        editor.on('change', function (e) {
          editor.save();
        });
      }
    });
</script> -->
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>