{% load static i18n compress%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}AutobuyFast | Welcome to a new age of car shopping & shipping with convenience{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="telephone=no" name="format-detection" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="description" content="{% block description %}Autobuy fast{% endblock %}">
  <meta name="author" content="{% block author %}Jeremiah David{% endblock %}">
  <meta name="keywords" content="{% block keyword %}autobuyfast, cars, car shipping, online car calculator{% endblock %}">
  
  <meta property="og:site_name" content="Autobuyfast">
  <meta property="og:author" content="{% block og_author %}Jeremiah David{% endblock %}">
  <meta property="og:title" content="{% block og_title %}AutobuyFast | Welcome to a new age of car shopping & shipping with convenience{% endblock %}">
  <meta property="og:type" content="website">
  <!-- 160 charchters description -->
  <meta property="og:description" content="{% block og_desc %}Autobuyfast is a global 100% online car solution website that brings together listings from all the major car dealerships in the USA featuring new and used vehicles. We make it easy for Members to find, connect with dealer and we can ship to you anywhere in the world.{% endblock %}">
  <meta property="og:image" content="{% static 'images/logo.jpg' %}">
  <meta property="og:url" content="{% block og_url %}http://www.autobuyfast.com/{% endblock %}">
  
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{% block twitter_title %}AutobuyFast | Welcome to a new age of car shopping & shipping with convenience{% endblock %}">
  <!-- 160 charchters description -->
  <meta name="twitter:description" content="{% block twitter_desc %}Autobuyfast is a global 100% online car solution website that brings together listings from all the major car dealerships in the USA featuring new and used vehicles. We make it easy for Members to find, connect with dealer and we can ship to you anywhere in the world.{% endblock %}">
  <meta name="twitter:image:alt" content="Autobuyfast Logo Icon">

  <!-- social analytics from fb and twitter -->
  <meta property="fb:app_id" content="">
  <meta name="twitter:site" content="@autobuyfast">

  <link rel="canonical" href="https://www.autobuyfast.com/{% block can_link %}{% endblock %}">


  
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

  <link rel="icon" href="{% static 'images/logo.jpg' %}">

  {% block css %}
  <!-- Latest compiled and minified Bootstrap CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://autobuyfast-bucket.s3.amazonaws.com/">
  <link rel="dns-prefetch" href="https://autobuyfast-bucket.s3.amazonaws.com/">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|verpass:300,400,600,700,800,900|Hind:300,400,500,600,700|Poppins:100,200,300,400,500,600,700&display=swap">

  <!-- Your stuff: Third-party CSS libraries go here -->
  <link href="{% static 'css/iziToast.min.css' %}" rel="stylesheet">
  {% compress css inline %}
  <!-- This file stores project-specific CSS -->
  {% include "snippets/css.html" %}
  {% endcompress %}
  {% endblock %}
  <!-- Le javascript
    ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
  <!-- Bootstrap JS and its dependencies-->

  {# vue js 3 package for frontend ajaxing must be in the header section #}
  <!-- <script defer src="https://unpkg.com/vue@next"></script> -->

  <!-- Your stuff: Third-party javascript libraries go here -->
  {% include "snippets/js.html" %}

  <!-- place project specific Javascript in this file -->
  <script defer src="{% static 'js/iziToast.min.js' %}"></script>
  {% compress js inline %}
  {% endcompress %}
  {% endblock javascript %}

  {{ form.media }}

</head>

<body>
  <div id="loader">
    <div class="box loading"></div>
  </div>


  <div id="wrapper" class="wrapper-container">

    <div id="mobile-advanced" class="mobile-advanced"></div>
    
    <header id="header" class="header-2">
        <div class="searchform-wrap">
          <div class="vc-child h-inherit relative">

            <form>
              <input type="text" name="search" placeholder="Start typing...">
              <button type="button"></button>
            </form>

          </div>
          <button class="close-search-form"></button>
        </div>

        {% include "snippets/header.html" %}
        {% include "snippets/nav.html" %}
    </header>

    {% block slider %}
    {% include "snippets/slider.html" %}
    {% endblock slider %}
  
    <main id="content">
    {% block content %}
    {% endblock content %}
    </main>

    {% include "snippets/footer.html" %}

  </div> <!-- /container -->

  {% block modal %}{% endblock modal %}
  {# izi message signals for django #}
  <script type=text/javascript>
    jQuery('.home-date').datepicker({
      autoclose: true,
      startDate: "today",
    });

    {% for message in messages %}
    iziToast.settings({
      timeout: 9000,
      position: 'topRight',
      drag: true,
      pauseOnHover: true,
      transitionIn: 'flipInX',
      transitionOut: 'flipOutX',
      transitionInMobile: 'fadeInUp',
      transitionOutMobile: 'fadeOutDown',
      close: true,
      balloon: true,
      progressBar: true,
      progressBarEasing: 'ease',
      pauseOnHover: true,
      icon: 'material-icons',
      iconText: '{% if message.tags == "info" %}info{% elif message.tags == "success" %}check_circle{% elif message.tags == "warning" %}warning{% else %}priority_high{% endif %}',
    });
    iziToast.{{ message.tags }}({
      id: '{{ message.tags }}',
      title: '{{ message.tags|capfirst }}',
      message: '{{ message }}',
    });
    {% endfor %}
  </script>

  {# tiny mce settings configuration #}
  
  {% block inline_javascript %}
  <!-- <script >
    tinymce.init({
      selector: 'textarea',
      menubar: false,
      plugins: [
        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
        "searchreplace wordcount visualblocks visualchars code fullscreen",
        "insertdatetime media nonbreaking save table contextmenu directionality",
        "emoticons template paste textcolor colorpicker textpattern"
      ],
      setup: function (editor) {
        editor.on('change', function (e) {
          editor.save();
        });
      }
    });
</script> -->
  {# Script tags with only code, no src (defer by default) #}
  {% endblock inline_javascript %}
</body>

</html>