{% extends "base.html" %}
{% load static %}


{% block title %}
{% block blog_title %}{% endblock blog_title %} | {{ block.super }}
{% endblock title %}

{% block description %}
{% block blog_desc %}{% endblock %}
{% endblock %}

{% block og_author %}
{% block blog_author %}{% endblock blog_author %}
{% endblock %}

{% block og_title %}
{% block blog_og_title %}{% endblock %}
{% endblock %}

{% block og_url %}
{% block blog_og_url %}{% endblock %}
{% endblock %}

{% block twitter_title %}
{% block blog_tw_title %}{% endblock %}
{% endblock %}

{% block twitter_desc %}
{% block blog_tw_desc %}{% endblock %}
{% endblock %}

{% block can_link %}
{% block blog_can_link %}{% endblock %}
{% endblock %}


{% block slider %}
<div class="breadcrumbs-wrap" data-bg="{% static 'images/default/1920x200_img1.jpg' %}">

    <div class="container">

        <h1 class="page-title">{% block blog_breadcrum_title %}{% endblock %}</h1>

        <ul class="breadcrumbs">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li>blog</li>
            <li>{% block breadcrum %}{% endblock breadcrum %}</li>

        </ul>

    </div>

</div>
{% endblock slider %}

{% block content %}
<div class="page-section">
    <div class="container">
        <div class="row">
            {% block blog_content %}
            {% endblock blog_content %}
        </div>
    </div>
</div>
{% endblock %}