{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
Compare Cars | {{ block.super }}
{% endblock title %}

{% block description %}
compare 1-3 cars all at ones
{% endblock %}

{% block og_author %}
Jeremiah David
{% endblock %}

{% block og_title %}
compare cars
{% endblock %}

{% block og_url %}
{% url 'cars:compare' %}
{% endblock %}

{% block twitter_title %}
compare cars
{% endblock %}

{% block twitter_desc %}
compare 1-3 cars all at ones
{% endblock %}

{% block can_link %}
compare-cars/
{% endblock %}

{% block bg %}
{% endblock bg %}

{% block page_bg %}{% endblock page_bg %}

{% block pcw %}{% endblock pcw %}

{% block content %}
{% endblock content %}