{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
Compare Cars | {{ block.super }}
{% endblock title %}

{% block description %}
compare 1-3 cars all at ones
{% endblock %}

{% block og_author %}
Jeremiah David
{% endblock %}

{% block og_title %}
compare cars
{% endblock %}

{% block og_url %}
{% url 'cars:compare_detail' 'result' %}
{% endblock %}

{% block twitter_title %}
compare cars
{% endblock %}

{% block twitter_desc %}
compare 1-3 cars all at ones
{% endblock %}

{% block can_link %}
compare-cars/
{% endblock %}

{% block bg %}
{% endblock bg %}

{% block slider %}
<div class="breadcrumbs-wrap" data-bg="{% static 'images/default/1920x200_img2.jpg' %}">

    <div class="container">
      
      <h1 class="page-title">Compare Vehicles</h1>

      <ul class="breadcrumbs">

        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'cars:list' %}">Car Ads</a></li>
        <li>Compare Vehicles</li>

      </ul>

    </div>

  </div>
{% endblock slider %}

{% block page_bg %}{% endblock page_bg %}

{% block pcw %}{% endblock pcw %}

{% block content %}
<div class="page-section">
    <div class="container">
        <div class="share-section flex-row flex-justify flex-center">

            <a href="{% url 'cars:list' %}" class="link-text2"><i class="icon-reply-4"></i>Back to Results</a>
            <div class="page-nav">
                <!-- <a href="#" class="page-prev">Prev</a>
          <span>2/38 Listings</span>
          <a href="#" class="page-next">Next</a> -->
            </div>
            <div class="share-list flex-row flex-center">

                <span>Share</span>
                <ul>
                    <li><a href="#" class="sh-facebook"><i class="icon-facebook"></i></a></li>
                    <li class="share-menu">
                        <a href="#"><i class="icon-ellipsis"></i></a>
                        <ul class="dropdown-list social-icons share type2">

                            <li><a href="#" class="sh-twitter"><i class="icon-twitter"></i></a></li>
                            <li><a href="#" class="sh-google"><i class="icon-gplus"></i></a></li>
                            <li><a href="#" class="sh-pinterest"><i class="icon-pinterest"></i></a></li>
                            <li><a href="#" class="sh-mail"><i class="icon-mail"></i></a></li>

                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-print-6"></i></a></li>
                </ul>

            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <br>
                <a href="{% url 'cars:compare' 'result' %}" class="btn btn-block btn-style-3">Compare Cars</a>
            </div>
        </div>

        <br>

        <div class="table-type-2 responsive-table compare-table">
            <table>
              <tbody>
                <tr class="title">
                  <th>Specifications</th>
                  <td data-title="Product">
                    
                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                    <div class="product">

                      <button class="item-close close-product" data-id="item1"></button>
                      
                      <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                      <a href="{{result.car_one.get_absolute_url}}"><img src="{% if result.car_one.image_set %}{{result.car_one.get_image_url}}{% else %}{% static 'images/default/262x173_img11.jpg' %}{% endif %}" height="173" alt=""></a>
                      <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                      <div class="product-description">

                        <h5 class="product-name"><a href="{{result.car_one.get_absolute_url}}">{{result.car_one.title}}</a></h5>

                        <div class="pricing-area">

                          <div class="product-price">
                            ${{result.car_one.car_price}}
                          </div>

                        </div>
                      </div>
                      <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                    </div>
                    <!-- /Carousel Item --> 

                  </td>
                  <td data-title="Product">
                    
                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                    <div class="product">

                      <button class="item-close close-product" data-id="item2"></button>
                      
                      <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                      <a href="{{result.car_two.get_absolute_url}}"><img src="{% if result.car_two.image_set %}{{result.car_two.get_image_url}}{% else %}{% static 'images/default/262x173_img11.jpg' %}{% endif %}" height="173" alt=""></a>
                      <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                      <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                      <div class="product-description">

                        <h5 class="product-name"><a href="{{result.car_two.get_absolute_url}}">{{result.car_two.title}}</a></h5>

                        <div class="pricing-area">

                          <div class="product-price">
                            ${{result.car_two.car_price}}
                          </div>

                        </div>
                      </div>
                      <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                    </div>
                    <!-- /Carousel Item --> 

                  </td>
                  <td data-title="Product">
                    
                    <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                    <div class="product">

                        <button class="item-close close-product" data-id="item2"></button>
                        
                        <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                        <a href="{{result.car_three.get_absolute_url}}"><img src="{% if result.car_three.image_set %}{{result.car_three.get_image_url}}{% else %}{% static 'images/default/262x173_img11.jpg' %}{% endif %}" height="173" alt=""></a>
                        <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->
  
                        <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                        <div class="product-description">
  
                          <h5 class="product-name"><a href="{{result.car_three.get_absolute_url}}">{{result.car_three.title}}</a></h5>
  
                          <div class="pricing-area">
  
                            <div class="product-price">
                              ${{result.car_three.car_price}}
                            </div>
  
                          </div>
                        </div>
                        <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->
  
                      </div>
                      <!-- /Carousel Item --> 
  
                  </td>
                </tr>
                <tr>
                  <th>Body Style</th>
                  <td data-title="Body Style"><div data-id="item1">{{result.car_one.car_body}}</div></td>
                  <td data-title="Body Style"><div data-id="item2">{{result.car_two.car_body}}</div></td>
                  <td data-title="Body Style"><div data-id="item3">{{result.car_three.car_body}}</div></td>
                </tr>
                <tr>
                  <th>Mileage</th>
                  <td data-title="Mileage"><div data-id="item1">{{result.car_one.car_mileage}}</div></td>
                  <td data-title="Mileage"><div data-id="item2">{{result.car_two.car_mileage}}</div></td>
                  <td data-title="Mileage"><div data-id="item3">{{result.car_three.car_mileage}}</div></td>
                </tr>
                <tr>
                  <th>Year</th>
                  <td data-title="Year"><div data-id="item1">{{result.car_one.car_year}}</div></td>
                  <td data-title="Year"><div data-id="item2">{{result.car_two.car_year}}</div></td>
                  <td data-title="Year"><div data-id="item3">{{result.car_three.car_year}}</div></td>
                </tr>
                <tr>
                  <th>Fuel</th>
                  <td data-title="Fuel"><div data-id="item1">{{result.car_one.car_fuel_type}}</div></td>
                  <td data-title="Fuel"><div data-id="item2">{{result.car_two.car_fuel_type}}</div></td>
                  <td data-title="Fuel"><div data-id="item3">{{result.car_three.car_fuel_type}}</div></td>
                </tr>
                <tr>
                  <th>Engine</th>
                  <td data-title="Engine"><div data-id="item1">{{result.car_one.car_engine}}</div></td>
                  <td data-title="Engine"><div data-id="item2">{{result.car_two.car_engine}}</div></td>
                  <td data-title="Engine"><div data-id="item3">{{result.car_three.car_engine}}</div></td>
                </tr>
                <tr>
                  <th>Transmission</th>
                  <td data-title="Transmission"><div data-id="item1">{{result.car_one.car_transmission}}</div></td>
                  <td data-title="Transmission"><div data-id="item2">{{result.car_two.car_transmission}}</div></td>
                  <td data-title="Transmission"><div data-id="item3">{{result.car_three.car_transmission}}</div></td>
                </tr>
                <tr>
                  <th>Drivetype</th>
                  <td data-title="Drivetype"><div data-id="item1">{{result.car_one.car_drive_train}}</div></td>
                  <td data-title="Drivetype"><div data-id="item2">{{result.car_two.car_drive_train}}</div></td>
                  <td data-title="Drivetype"><div data-id="item3">{{result.car_three.car_drive_train}}</div></td>
                </tr>
                <tr>
                  <th>Exterior Color</th>
                  <td data-title="Exterior Color"><div data-id="item1">{{result.car_one.car_ext_color}}</div></td>
                  <td data-title="Exterior Color"><div data-id="item2">{{result.car_two.car_ext_color}}</div></td>
                  <td data-title="Exterior Color"><div data-id="item3">{{result.car_three.car_ext_color}}</div></td>
                </tr>
                <tr>
                  <th>Interior Color</th>
                  <td data-title="Interior Color"><div data-id="item1">{{result.car_one.car_int_color}}</div></td>
                  <td data-title="Interior Color"><div data-id="item2">{{result.car_two.car_int_color}}</div></td>
                  <td data-title="Interior Color"><div data-id="item3">{{result.car_three.car_int_color}}</div></td>
                </tr>
                <tr>
                  <th>History</th>
                  <td data-title="History"><div data-id="item1">
                    <a href="#" class="link-text2"><i class="icon-doc-text-2"></i>View AutoCheck Vehicle History </a>
                  </div></td>
                  <td data-title="History"><div data-id="item2">-</div></td>
                  <td data-title="History"><div data-id="item3">
                    <a href="#" class="link-text2"><i class="icon-doc-text-2"></i>View AutoCheck Vehicle History </a>
                  </div></td>
                <tr class="title top-side">
                  <th>Seller Comments</th>
                  <td>
                    <div data-id="item1">
                      {{result.car_one.seller_note|safe}}
                    </div>
                  </td>
                  <td>
                    <div data-id="item2">
                        {{result.car_two.seller_note|safe}}
                    </div>
                  </td>
                  <td>
                    <div data-id="item3">
                        {{result.car_three.seller_note|safe}}
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>
{% endblock content %}