{% extends "users/base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
Create Car Ad - {{ block.super }}
{% endblock title %}

{% block slider %}
{% endblock slider %}

{% block user_content %}
<form method="post" action="{% url 'cars:create' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.non_field_errors}}
    {{form.source.errors}}
    {{form.source}}
    <div class="accordion toggle no-of">
        <div class="accordion-item">
            <h6 class="a-title active">Car Basic Details</h6>
            <div class="a-content">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This is the basic information needed to create your ad. It will appear on our listing and detailed ad pages.</p>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.title}}
                            {{form.title.errors}}
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-12  ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.car_vin}}
                            {{form.car_vin.errors}}
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-6  " style="margin-top: 10px;">
                        <div class="auto-custom-select"style="border: 4px solid #000; margin-top: 10px; border-radius: 7px; padding: 7px;">
                            <label for="{{form.car_body.id}}">{{form.car_body.label}}</label>
                            <div>
                            {{form.car_body}}
                            {{form.car_body.errors}}
                            </div>        
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-6  " style="margin-top: 10px;">
                        <div class="auto-custom-select"style="border: 4px solid #000; margin-top: 10px; border-radius: 7px; padding: 7px;">
                            <label for="{{form.car_door.id}}">{{form.car_door.label}}</label>
                            <div>
                            {{form.car_door}}
                            {{form.car_door.errors}}
                            </div>        
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-6  " style="margin-top: 10px;">
                        <div class="auto-custom-select"style="border: 4px solid #000; margin-top: 10px; border-radius: 7px; padding: 7px;">
                            <label for="{{form.car_stock.id}}">{{form.car_stock.label}}</label>
                            <div>
                            {{form.car_stock}}
                            {{form.car_stock.errors}}
                            </div>
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-6  " style="margin-top: 10px;">
                        <div class="auto-custom-select" style="border: 4px solid #000; margin-top: 10px; border-radius: 7px; padding: 7px;">
                            <label for="{{form.car_stock.id}}">{{form.car_year.label}}</label>
                            <div>
                            {{form.car_year}}
                            {{form.car_year.errors}}
                            </div>
                        </div>        
                    </div>

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h6 class="a-title">Car Engine Details</h6>
            <div class="a-content">
                <div class="row">
                    <div class="col-sm-12">
                        <p>Information about the engine, drive train type, transmission and fuel type will e listed here.</p>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.car_transmission}}
                            {{form.car_transmission.errors}}
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-12  ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.car_drive_train}}
                            {{form.car_drive_train.errors}}
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-12  ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.car_fuel_type}}
                            {{form.car_fuel_type.errors}}
                        </div>        
                    </div>
                    <br>
                    <div class="col-sm-12  ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.car_engine}}
                            {{form.car_engine.errors}}
                        </div>        
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h6 class="a-title">Car Seller Note</h6>
            <div class="a-content">
                <div class="row">
                    <div class="col-sm-12">
                        <p>This is where you leave a note about the car. If you were the owner, this should contain details of the car's performance and review.</p>
                    </div>
                    <div class="col-sm-12 ">
                        <div class="auto-custom-select" style="margin-top: 10px;">
                            {{form.seller_note}}
                            {{form.seller_note.errors}}
                        </div>        
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h6 class="a-title">Add Car Images</h6>
            <div class="a-content">
                <div class="row">
                    <div class="col-sm-12">
                        <p>There should be images for this Car Ad Listing.</p>
                    </div>
                    {{images.management_form}}
                    {% if images.non_form_errors %}
                        <div class="alert alertdanger">{{images.non_form_errors}}</div>
                    {% endif %}
                    {% for img in images %}
                    <div class="col-sm-12">
                        <div class="row" style="margin-bottom: 10px;">
                            <div class="col-sm-8">
                                <div class="auto-custom-select" style="margin-top: 10px;">
                                    <div id="div_{{img.image.auto_id}}" class="form-group">
                                        <label for="{{img.image.auto_id}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                                                <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                                            </svg>
                                            <span style="margin-left: 8px; cursor: pointer;">{{img.image.label}}</span>
                                        </label>
                                        <div>
                                            {{img.image}}
                                            {{img.image.errors}}
                                        </div>
                                    </div>
                                </div>        
                            </div>
                            <div class="col-sm-4">
                                <div class="input-wrapper">
                                    <div class="form-check" id="div_{{img.image.auto_id}}-DELETE">
                                        {{img.DELETE}}
                                        <label for="{{img.image.auto_id}}-DELETE" class="form-check-label">{{img.DELETE.label}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- <input type="hidden" name="additems" id="additems" value="false">
                    <button class="btn btn-small btn-style-3" id="additemsbutton">Add More Images</button> -->
                </div>
            </div>
        </div>
    </div>
    <br>
    <button class="btn btn-style-2" type="submit">Create Add</button>
</form>
{% endblock user_content %}

{% block inline_javascript %}
$(document).ready(function() {
    $("#additemsbutton").on("click", function(e) {
        e.preventDefault();
        $("#additems").val("true");
        return false;
    });
});
{% endblock inline_javascript %}
