{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
About Us | {{ block.super }}
{% endblock title %}

{% block description %}
Get your questions answered about autobuyfast, who we are, what we do, and we help you with our services
{% endblock %}

{% block og_author %}
Jeremiah David
{% endblock %}

{% block og_title %}
About Us
{% endblock %}

{% block og_url %}
{% url 'about' %}
{% endblock %}

{% block twitter_title %}
About Us
{% endblock %}

{% block twitter_desc %}
Get your questions answered about autobuyfast, who we are, what we do, and we help you with our services
{% endblock %}

{% block can_link %}
about/
{% endblock %}


{% block slider %}
<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

<div class="breadcrumbs-wrap" data-bg="{% static 'images/default/1920x200_img2.jpg' %}">

    <div class="container">

        <h1 class="page-title">About Us</h1>

        <ul class="breadcrumbs">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li>About Us</li>

        </ul>

    </div>

</div>

<!-- end breadcrumb-->
{% endblock slider %}

{% block content %}
<div class="page-section">

    <div class="container">

        <div class="row">
            <div class="col-sm-6">

                <img loading="lazy" src="{% static 'images/about_bg.svg' %}" alt="about us image">

            </div>
            <div class="col-sm-6">

                <h2><b>Welcome to Autobuyfast!</b></h2>
                <p class="text-size-medium"><b>Luxury Car Shopping and Shipping.</b></p>
                <p class="text-size-medium">Autobuyfast is a global 100% online car solution website that brings
                    together listings from all the major car dealerships in the USA featuring new and used vehicles. We
                    make it easy for Members to find, connect with dealer and we can ship to you anywhere in the world.
                </p>
                <p class="text-size-medium">Our site and innovative solutions connect buyers and sellers to match people
                    with their perfect car.</p>
                <p class="text-size-medium">With our people spread across the U.S. we still maintain a startup culture
                    with innovation and passion for our people at the core of everything we do.</p>

            </div>
        </div>

    </div>

</div>

{% include "snippets/company_stat.html" %}
{% include "snippets/showroom.html" %}
{% include "snippets/testimonial.html" %}
{% include "snippets/buy_or_sell.html" %}
{% endblock content %}


<form class="b-form-checkup ui-form-3" id="contactForm" action="{% url 'about' %}" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{request_form.name|as_crispy_field}}
            </div>
            <div class="form-group">
                {{request_form.phone|as_crispy_field}}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{request_form.email|as_crispy_field}}
            </div>
            <div class="form-group">
                {{request_form.pickup|as_crispy_field}}<i class="form-control-feedback icon fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                {{request_form.services|as_crispy_field}}
            </div>
            {{request_form.message|as_crispy_field}}
            <button class="btn btn-primary">book auto checkup</button>
        </div>
    </div>
</form>
<!-- end .b-form-checkup-->

























<!-- end .block-table-->
<section class="section-default">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <h2 class="ui-title-block">Our Services</h2>
                    <div class="ui-subtitle-block">is to ensure a safe and legal shipping route for Foreign cars to the
                        global market.
                    </div>
                    <div class="ui-decor"></div>
                </div>
            </div>
        </div>
        <div class="wrap-inl-bl">
            <div class="row">
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-voltage"></i>
                        <h3 class="b-advantages-4__title">Electrical Works</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-screwdriver-and-wrench"></i>
                        <h3 class="b-advantages-4__title">General Repairs</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-transmision"></i>
                        <h3 class="b-advantages-4__title">Break Checking</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-gears"></i>
                        <h3 class="b-advantages-4__title">Suspension Fix</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-oil"></i>
                        <h3 class="b-advantages-4__title">Car Oil Change</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
                <div class="col-md-4">
                    <section class="b-advantages-4"><i class="b-advantages-4__icon flaticon-wheel-and-manometer"></i>
                        <h3 class="b-advantages-4__title">Wheel Balancing</h3>
                        <div class="b-advantages-4__info">MotorLand is nisi aliquip ea consequat duis velit esse cillum
                            dolore fugiat nulla pariatur excepteur sint occaecat.</div><span class="ui-decor-2"></span>
                    </section>
                    <!-- end .b-advantages-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end .section-default-->




<div class="section-default area-bg area-bg_dark parallax"
    style="background-image: url({% static 'media/content/bg/bg-8.jpg' %}); z-index: -100 !important;">
    <div class="area-bg__inner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="b-progress-list-2 js-progress-list list-unstyled">
                        <li class="b-progress-list-2__item clearfix"><i
                                class="b-progress-list-2__icon text-primary icon_house_alt"></i><span
                                class="b-progress-list-2__percent js-chart" data-percent="100"><span
                                    class="js-percent"></span></span><span class="b-progress-list-2__name">OUR
                                BRANCHES</span>
                        </li>
                        <li class="b-progress-list-2__item clearfix"><i
                                class="b-progress-list-2__icon text-primary icon_box-checked"></i><span
                                class="b-progress-list-2__percent js-chart" data-percent="632"><span
                                    class="js-percent"></span></span><span class="b-progress-list-2__name">VEHICLES
                                SERVICED</span>
                        </li>
                        <li class="b-progress-list-2__item clearfix"><i
                                class="b-progress-list-2__icon text-primary icon_like"></i><span
                                class="b-progress-list-2__percent js-chart" data-percent="1500"><span
                                    class="js-percent"></span></span><span class="b-progress-list-2__name">HAPPY
                                CUSTOMERS</span>
                        </li>
                        <li class="b-progress-list-2__item clearfix"><i
                                class="b-progress-list-2__icon text-primary icon_toolbox_alt"></i><span
                                class="b-progress-list-2__percent js-chart" data-percent="900"><span
                                    class="js-percent"></span></span><span class="b-progress-list-2__name">PROBLEMS
                                SOLVED</span>
                        </li>
                        <li class="b-progress-list-2__item clearfix"><i
                                class="b-progress-list-2__icon text-primary icon_book_alt"></i><span
                                class="b-progress-list-2__percent js-chart" data-percent="500"><span
                                    class="js-percent"></span></span><span class="b-progress-list-2__name">CLIENTS
                                REVIEWS</span>
                        </li>
                    </ul>
                    <!-- end .b-progress-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end .section-default-->