{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
Contact Us | {{ block.super }}
{% endblock title %}

{% block description %}
We are here to answer all enquiries 24Hrs, 6 Days a week.
{% endblock %}

{% block og_author %}
Jeremiah David
{% endblock %}

{% block og_title %}
About Us
{% endblock %}

{% block og_url %}
{% url 'contact' %}
{% endblock %}

{% block twitter_title %}
Contact Us
{% endblock %}

{% block twitter_desc %}
We are here to answer all enquiries 24Hrs, 6 Days a week.
{% endblock %}

{% block can_link %}
contact/
{% endblock %}


{% block slider %}
<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

<div class="breadcrumbs-wrap" data-bg="{% static 'images/default/1920x200_img1.jpg' %} ">

    <div class="container">

        <h1 class="page-title">Contact Us</h1>

        <ul class="breadcrumbs">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Contact Us</li>

        </ul>

    </div>

</div>

<!-- end breadcrumb-->
{% endblock slider %}


{% block content %}
<div class="page-section">

    <div class="container">

        <h2 class="section-title">Contact Information</h2>

        <div class="row">

            <div class="col-md-8 col-sm-12">

                <!-- Google map -->
                <div class="map-section">
                    <div id="googleMap" class="map-container type-2"></div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12">

                <div class="content-element7">

                    <div class="contact-item">
                        <h6 class="contact-title"><i class="licon-map-marker"></i>Address</h6>
                        <span class="contact-desc">2532A Cheshaire Drive, Baltimore, MD 21244 </span>
                        <a href="http://maps.google.com?q=41.9791948,-87.9461776" class="info-btn" target="_blank">Get
                            Directions</a>
                    </div>

                </div>

                <div class="content-element7">

                    <div class="tabs tabs-section clearfix">
                        <!--tabs navigation-->
                        <ul class="tabs-nav clearfix">
                            <li class="">
                                <a href="#tab-1">Sale</a>
                            </li>
                            <li class="">
                                <a href="#tab-2">Service</a>
                            </li>
                            <li class="">
                                <a href="#tab-3">Parts</a>
                            </li>
                        </ul>
                        <!--tabs content-->
                        <div class="tabs-content">
                            <div id="tab-1">

                                <div class="contact-section">

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-telephone"></i>Phone</h6>
                                        <span class="contact-desc">+1325-701-18-19</span>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-at-sign"></i>email</h6>
                                        <a href="mailto://sale@autobuyfast.com" class="contact-desc">sale@autobuyfast.com</a>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-clock3"></i>Opening Hours</h6>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Monday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Tuesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Wednesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Thursday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Friday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Saturday</span>
                                            <span class="contact-desc">9:00 AM - 2:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Sunday</span>
                                            <span class="contact-desc">Closed</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div id="tab-2">

                                <div class="contact-section">

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-telephone"></i>Phone</h6>
                                        <span class="contact-desc">+1325-701-18-19</span>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-at-sign"></i>email</h6>
                                        <a href="mailto://service@autobuyfast.com" class="contact-desc">service@autobuyfast.com</a>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-clock3"></i>Opening Hours</h6>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Monday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Tuesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Wednesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Thursday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Friday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Saturday</span>
                                            <span class="contact-desc">9:00 AM - 2:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Sunday</span>
                                            <span class="contact-desc">Closed</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div id="tab-3">

                                <div class="contact-section">

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-telephone"></i>Phone</h6>
                                        <span class="contact-desc">+1325-701-18-19</span>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-at-sign"></i>email</h6>
                                        <a href="mailto://parts@autobuyfast.com" class="contact-desc">parts@autobuyfast.com</a>
                                    </div>

                                    <div class="contact-item">
                                        <h6 class="contact-title"><i class="licon-clock3"></i>Opening Hours</h6>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Monday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Tuesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Wednesday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Thursday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Friday</span>
                                            <span class="contact-desc">9:00 AM - 5:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Saturday</span>
                                            <span class="contact-desc">9:00 AM - 2:00 PM</span>
                                        </div>
                                        <div class="flex-row flex-justify">
                                            <span class="contact-desc">Sunday</span>
                                            <span class="contact-desc">Closed</span>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="content-element7">

                    <div class="contact-item">
                        <h6 class="contact-title"><i class="licon-share2"></i>Social networks</h6>
                        <ul class="social-icons style-2">

                            <li class="fb-icon"><a href="#"><i class="icon-facebook"></i></a></li>
                            <li class="tweet-icon"><a href="#"><i class="icon-twitter"></i></a></li>
                            <li class="youtube-icon"><a href="#"><i class="icon-youtube"></i></a></li>
                            <li class="google-icon"><a href="#"><i class="icon-gplus-3"></i></a></li>
                            <li class="insta-icon"><a href="#"><i class="icon-instagram-5"></i></a></li>
                            <li class="in-icon"><a href="#"><i class="icon-linkedin"></i></a></li>

                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<div class="page-section-bg">

    <div class="container">

        <h2><b>We Welcome Your feedback and inquiries</b></h2>
        <form id="contact-form" class="contact-form">
            {% csrf_token %}
            {{form.non_field_errors}}
            {{form.source.errors}}
            {{form.source}}
            <div class="row">
                <div class="col-sm-6">

                    <!-- <label class="required">{{form.from_email.label_tag}}</label> -->
                    {{form.from_email}}
                    {{form.from_email.errors}}

                </div>
                <div class="col-sm-6">

                    <!-- <label class="required">{{form.subject.label_tag}}</label> -->
                    {{form.subject}}
                    {{form.subject.errors}}

                </div>
                <div class="col-sm-12 mt-3">
                <br>

                    {{form.message}}
                    {{form.message.errors}}
                    <br>
                    <button type="submit" class="btn btn-block btn-style-3" data-type="submit">Send Message</button>

                </div>
            </div>

        </form>

    </div>

</div>

{% include "snippets/testimonial.html" %}
{% include "snippets/company_stat.html" %}
{% include "snippets/buy_or_sell.html" %}
{% endblock content %}


{% block inline_javascript %}
<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBN4XjYeIQbUspEkxCV2dhVPSoScBkIoic"></script>
{% endblock inline_javascript %}