{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}
Registered Dealers | {{ block.super }}
{% endblock title %}

{% block description %}
View all registered and approved dealers in one place.
{% endblock %}

{% block og_author %}
Jeremiah David
{% endblock %}

{% block og_title %}
Registered Dealers
{% endblock %}

{% block og_url %}
{% url 'dealers' %}
{% endblock %}

{% block twitter_title %}
Registered Dealers
{% endblock %}

{% block twitter_desc %}
View all registered and approved dealers in one place.
{% endblock %}

{% block can_link %}
dealers/
{% endblock %}


{% block slider %}
<!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

<div class="breadcrumbs-wrap" data-bg="{% static 'images/default/1920x200_img2.jpg' %}">

    <div class="container">

        <h1 class="page-title">Registered Dealers</h1>

        <ul class="breadcrumbs">

            <li><a href="{% url 'home' %}">Home</a></li>
            <li>Dealers</li>

        </ul>

    </div>

</div>

<!-- end breadcrumb-->
{% endblock slider %}


{% block content %}
{% include "snippets/company_stat.html" %}
{% include "snippets/showroom.html" %}
{% include "snippets/buy_or_sell.html" %}
{% endblock content %}
