{% extends "base.html" %}
{% load static crispy_forms_tags %}


{% url 'users:detail' request.user.username as dashboard_url %}

{% block title %}
{{ request.user.username|title }} Dashboard | {{ block.super }}
{% endblock title %}

{% block description %}
{% block user_desc %}{% endblock %}
{% endblock %}

{% block og_author %}
{{request.user.fullname}}
{% endblock %}

{% block og_title %}
{% block user_og_title %}{% endblock %}
{% endblock %}

{% block og_url %}
{% block user_og_url %}{% endblock %}
{% endblock %}

{% block twitter_title %}
{% block user_tw_title %}{% endblock %}
{% endblock %}

{% block twitter_desc %}
{% block user_tw_desc %}{% endblock %}
{% endblock %}

{% block can_link %}
{% block user_can_link %}{% endblock %}
{% endblock %}

{% block bg %}
{% endblock bg %}

{% block pcw %}class="page-content-wrap"{% endblock pcw %}


{% block css_inline %}
<style>
  input[type="text"],
  input[type="email"],
  input[type="url"] {
    background-color: #f2f3f3;
  }
  input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  input[type="file"] + label {
    color: white !important;
    background-color: #851818 !important;
    display: inline-block;
    font-weight: 700;
    cursor: pointer;
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }  
  input[type="file"] + label * {
    pointer-events: none;
  }
  input[type="file"]:focus + label
  input[type="file"] + label:hover {
    background-color: red;
  }
</style>
{% endblock css_inline %}

{% block slider %}
{% endblock slider %}


{% block content %}
<div class="container">
  <div class="content-element7">
    <div class="share-section flex-row flex-justify flex-center">
      {% if not request.path == dashboard_url %}
      <a href="{% url 'users:detail' request.user.username %}" class="link-text2"><i class="icon-reply-4"></i>Back</a>
      {% endif %}
    </div>
  </div>
  <div class="dealers-page">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="dealer-single">
          <div class="content-element7">

            <div class="flex-row flex-justify flex-center">
  
              <div class="dealer-title">
                {% if request.user.is_seller %}
                <h2 class="section-title"><a href="javascript:;">{{request.user.userprofile.dealership_name }}</a></h2>
                <div class="rating-area">
                  <div class="rating-number">Company Phone</div>
                  <div class="slash-list">
                    <div class="link-text2">{{request.user.phone_no}}</div>
                  </div>
                </div>
                {% else %}
                <h2 class="section-title"><a href="javascript:;">{{request.user.fullname}}</a></h2>
                {% endif %}
              </div>
  
              <a href="javascript:;"><img
                  src="{% if request.user.userprofile.profile_display %}{{request.user.userprofile.profile_display.url}}{% else %}{% static 'images/default/160x54_img1.jpg' %}{% endif %}"
                  height="54" alt=""></a>
  
            </div>
  
          </div>
  
          {% block user_content %}
          {% endblock user_content %}
          </div>
      </div>
      <div class="sidebar col-md-4 col-sm-12">
        <div class="bg-sidebar-item">

          <div class="content-element7">

            <h5 class="section-title">Contact Information</h5>
            <!-- Google map -->
            <div class="map-section">
              <div id="googleMap" class="map-container"></div>
            </div>

          </div>

          <div class="content-element7">

            <div class="contact-item">
              <h6 class="contact-title"><i class="licon-map-marker"></i>Address</h6>
              <span class="contact-desc">{{request.user.userprofile.address}}, {{request.user.userprofile.city}},
                {{request.user.userprofile.zipcode}} {{request.user.userprofile.country}} </span>
              <span class="contact-desc">{{request.user.phone_no}}</span>
              <span class="contact-desc">{{request.user.email}}</span>
              <a href="{% url 'contact' %}" class="info-btn">Get Directions</a>
            </div>

          </div>

          {% if request.user.is_seller %}
          <a href="{% url 'cars:create' %}" class="btn btn-big sidebar-btn"><i class="licon-select2"></i>Create Ads</a>
          {% endif %}
          {% if not request.user.has_testified %}
          <a href="{% url 'users:create_testimony' %}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Leave A Testimony</a>
          {% endif %}
          <a href="{% url 'users:watch_list' %}" class="btn btn-big sidebar-btn"><i class="licon-select2"></i>Watch
            List</a>
          <a href="{% url 'cars:search_list' %}" class="btn btn-big sidebar-btn"><i class="licon-select2"></i>Search
            List</a>
            <a href="{% url 'account_email' %}" class="btn btn-big sidebar-btn"><i class="licon-select2"></i>Manage
            Emails</a>
          {% if request.user.is_seller %}
          <a href="{% url 'users:update_seller' %}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Profile</a>
          <a href="{% url 'users:ads' %}" class="btn btn-big sidebar-btn"><i class="licon-select2"></i>Manage Car
            Ads</a>
          {% else %}
          <a href="{% url 'users:update_buyer' %}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Profile</a>
          {% endif %}
          <a href="{% url 'users:update_notification' %}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Notification Settings</a>
          <a href="{% url 'account_change_password' %}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Password Settings</a>
          <a href="{{ request.user.userprofile.website }}" class="btn btn-big sidebar-btn"><i
              class="licon-select2"></i>Visit Seller Website</a>

          <div class="align-center">
            <a href="#"><img src="{% static 'images/default/300x600_banner1.jpg' %}" alt=""></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}