{% extends "users/base.html" %}
{% load static %}

{% block user_title %}Dashboard{% endblock %}
{% block user_page_title %}Dashboard{% endblock %}
{% block user_breadcrum %}dashboard{% endblock %}
{% block user_section_title %}Dashboard{% endblock %}
{% block user_section_title_desc %}Manage all searches and saved car listings here{% endblock %}


{% block user_content %}
{% if request.user.is_seller %}
<div class="b-car-details__section">
  <h3 class="b-car-details__section-title ui-title-inner">My Ads</h3>
  <div class="b-car-details__section-subtitle"><a href="">See all ads (4)</a></div>
  <!-- add ads table below here -->
</div>

<br>
{% endif %}

<div class="b-car-details__section">
  <h3 class="b-car-details__section-title ui-title-inner">Saved Cars</h3>
  <div class="b-car-details__section-subtitle"><a href="">See all saved cars (4)</a></div>
  <!-- add ads table below here -->
</div>

<br>

<div class="b-car-details__section">
  <h3 class="b-car-details__section-title ui-title-inner">Saved Search</h3>
  <div class="b-car-details__section-subtitle"><a href="">See all saved search (4)</a></div>
  <!-- add ads table below here -->
</div>
{% endblock user_content %}