{% extends "users/base.html" %}
{% load static crispy_forms_tags %}


{% block user_desc %}
{{request.user.fullname}} Dashboard
{% endblock %}

{% block user_og_title %}
{{request.user.fullname}} Dashboard
{% endblock %}

{% block user_og_url %}
{{request.user.get_absolute_url}}
{% endblock %}

{% block user_tw_title %}
{{request.user.fullname}} Dashboard
{% endblock %}

{% block user_tw_desc %}
{{request.user.fullname}} Dashboard
{% endblock %}

{% block user_can_link %}
users/{{request.user.username}}
{% endblock %}


{% block user_content %}
<div class="b-car-details__section" style="margin-left: 10px;">
    <form class="form-horizontal" method="post" action="{% url 'users:update' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary btn-block">Update</button>
    </form>    
</div>
{% endblock user_content %}